.list {
  border: none;
  padding: 20px;
  background-color: white;
  border-radius: 3px;
  list-style: none;
  margin-top: 20px;
  height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todoStrike {
  text-decoration: line-through;
}

.todo {
  cursor: pointer;
}